body{
  font-size: 5em;
  text-align: center;
}
h1{
  font-size: 0.5em;
  margin: 0;
  font-weight: bold;
  text-shadow: 2,2,1,black;
  color: #888;
  text-decoration: dotted;
}
.count{
  margin: 0;
  font-weight: bold;
  color: #888;
}
.score{
  font-size: 1em;
  margin: 0;
  font-weight: bold;
  color: #888;
}
.wrap{
  margin-top: 20px;
  padding: 50px 40px;
  background-color: #666;
  font-weight: bold;
  color: #fff;
}
.typed{
  color: lightgreen;
}
/* javascriptで使用 */
.mistyped{
  background-color: red;
}